<div>
  <v-container>
    <v-card
      class="mx-auto mt-3"
      max-width="400"
      outlined
      elevation="4"
    >
      <v-card-text>
        <div class="text-h4">Ingresar</div>
        <form>
          
          <v-text-field
            v-model="payload.email"
            label="E-mail"
            required
          ></v-text-field>
          <v-text-field
            v-model="payload.password"
            label="Contraseña"
            required
          ></v-text-field>
          <v-btn
            color="primary"
            outlined
            rounded
            @click="login"
          >
            Ingresar
          </v-btn>
        </form>
      </v-card-text>

      <v-card-actions>
        
      </v-card-actions>
    </v-card>
  </v-container>
</div>